<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            body {
                background: rgba(0, 0, 0, .3);
            }

            h1 {
                color: green;
            }

            li {
                font-family: sans-serif;
            }
        </style>
    </head>
    <body>
        <h1>3-18-2018 Summary</h1>
        <ul>
            <li>e.target references current target for event delegation</li>
            <li>e.target.classList.item[index] retrieves classes on all browsers.
                The value property only works in chrome/firefox. 
                Event delegation can be simulated using if statements with vanilla
                js.
            </li>
            <li>With vanilla JS, nodelist creates a tree structure that 
                can be accessed using chained selector methods like 
                element.lastchild.lastchild.firstchild.etc
            </li>
            <li>Do not use innerHTML to assign user input - easily exploited
                because it sets the actual html on the page
            </li>
            <li>ie11 and down do not support node.remove().</li>
            <li>metaphors for software development help to enhance understanding of 
                the process and reduce costs. There are both bad and good metaphors 
                depending on the size/type of task - bad metaphors restrict progress, 
                like the earth-central view of solar system, while good models 
                allow progress to proceeed, like the sun-centric 
                solar system model. 
            </li>
            <li>box-sizing: border-box is a CSS property that calculates element sizes
                by including the padding and border into the entire size caluclation
            </li>
            <li>Back-end development creates dynamic webpages that deliver content based 
                on server requests - ie PUT, GET, etc. 
            </li>
        </ul>

        <h1>3-19-2018 Summary</h1>
        <ul>
            <li>Different web applications require different kinds of planning - 
                the more complicated the app, the more planning will reduce costs
            </li>
            <li>There is no one specific tool to use for all problems - the correct 
                software stack should be chosen based on best fit.
            </li>
            <li>Quality must be emphasized throughout the development process. Testing 
                cannot modify a program's fundamentals - testing can make sure that 
                a toyota prius runs perfectly, but can't turn that prius into 
                a BMW coupe. 
            </li>
            <li>cloud 9 cloud development environment - IDE + all project files 
                can run on a separate machine. Setup of cloud development environment
            </li>
            <li>Command line basics for back-end navigation: mkdir, cd, ls, touch, 
                node, rm, rm -rf flag, directory/file creation and navigation.
            </li>
            <li>running js apps via node - very similar to running javascript 
                in the browser, but no document object/methods related to browsers
            </li>
            <li>basics of npm packages/libraries - most apps are built and written 
                with the support of a large set of packages in addition to just 
                the basic javascript
            </li>
            <li>Numbers, Strings, Booleans, Null, Undefined are all simple types 
                and immutable. All other types of data are Objects. This includes 
                things like arrays, functions, and regexp. 
            </li>
            <li>An object property's value can be obtained from any expression, 
                including other objects, Objects can be nested.
            </li>
        </ul>

        <h1>3-20-2018 Summary</h1>
        <ul>
            <li>objects - use || operator to fill in default values for objects 
                when there is no property that exists for a certain object. 
                The && object guards against retrieving properties from 
                objects that do not exist
            </li>
            <li>node.js - starting node servers, basic echo exercise plus 
                writing node programs, and 
                using the command line to start node server. node server can be started
                by using command [node app.js]. Can include a console.log to verify that 
                the server started. Will run standard javascript with express routes.
            </li>
            <li>NPM - how to import different packages as well as how to 
                use the API for those packages, how to install and read docs 
                for packages. npm install [package name]
            </li>
            <li>Express framework - use require("express") and app = express() to 
                set up framework. Set up routes using app.get([path], [function(req, res)])
            </li>
            <li>npm init creates a package.json file, which contains metadata info about the app 
                we are making. NPM init automatically creates a pack.json file for us
                and sets most everything up. 
                Includes a list of dependencies (npm packages needed to run the app) 
                which can be automatically added to the package.json as you install them
                if you include the --save flag, ie npm install express --save
            </li>
            <li>creating routes using [app.get("/string/:xx", function(req, res))]. 
                Adding : (colon) indicates the word can vary, and can be retrieved using 
                [req.params.xx]. Params is a large object containing all the 
                required properties info of the web page.
            </li>
            <li>the "*" modifier catches all routes, but since server routes are 
                processed in order, putting a wildcard app.get as the first function 
                will prevent all other functions from running. Only the first 
                matching app.get will run. 
            </li>
        </ul>

        <h1>3-21-2018 Summary</h1>
        <ul>
            <li>Algorithm - when comparing a single variable to another literal using 
                if...=== statements, it becomes more efficient to definte an object literal
                (dictionary) with key:value pairs to compare. 
            </li>
            <li>The const variable can be block-scoped like let, and is an immutable 
                variable. Cannot be reassigned within its current scope. 
            </li>
            <li>[var obj2 = Object.create(obj) creates a prototype/decendant of obj
                and assigns it to obj2. obj2 will have all the properties/methods of obj.
                If obj's properties/methods are reassigned or overwritten, 
                obj2 will update with those same properties. obj2's properties can 
                also be written over and those will take precedence. 
            </li>
            <li>embedded Javascript - .ejs files allow res.render to send an 
                actual html file to the browser. <% %> allows embedding of 
                javascript into HTML, while <%= actually renders the javascript 
                on the page. The package must be installed via npm install ejs --save.
                res.render("home.ejs", {property, variable}) - syntax to set for EJA to 
                render javascript variables onto the page. <%= property %> will show the variable. 
            </li>
            <li>folders can be creaed for templates and other css/js files. 
                Views folder contains all EJS templates.
            </li>
            <li>app.use(express.static("public")); will make node look in public folders</li>
            <li>app.set("view engine", "ejs"); removes the need to type .ejs at 
                the end of every ejs file
            </li>

            </li>
        </ul>
    </body>
</html>